* {
  background-color: linen;
  font-family: "Inconsolata", monospace;
  font-family: "Kanit", sans-serif;
}

.hidden {
  visibility: hidden;
}

.focused {
  border: solid 5px black !important;
  outline: none;
}

.error {
  border-color: #c60c30 !important;
}

.header {
  height: 15%;
  color: rgb(50, 50, 50);
}

.header h2 {
  font-size: 6vh;
  display: inline;
}

.header span {
  font-size: 1.5vh;
}

.body {
  width: 90%;
  height: 75%;
  margin: auto;
}

/* FILE IMPORTER */

.fileImport {
  margin-left: 5%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.selectFileText {
  padding: 1% 2%;
  font-size: 1.25em;
  color: white;
  background-color: rgb(49, 140, 231);
  display: inline-block;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 15px;
}

.selectFileText * {
  pointer-events: none;
}

.selectFileText:focus,
.selectFileText:hover,
.convertButton:hover {
  background-color: rgba(49, 140, 231, 0.8);
}

.selectFileText:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.orWriteText {
  font-size: 1.7vh;
}

/* CONVERSION */

.convertionContainer {
  height: 85%;
  display: flex;
}

.csvContainer,
.jsonContainer {
  width: 50%;
}

.csvContainer,
.jsonContainer {
  margin-top: 5%;
}

.insertText {
  font-size: 1.7vh;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.textContainer {
  display: block;
  margin: auto;
  width: 80%;
  height: 90%;
  resize: none;
  border: solid 2px black;
  border-radius: 50px;
  font-size: 1em;
  padding: 10px;
}

.textContainer::-webkit-scrollbar {
  display: none;
}

.separatorContainer {
  font-size: 1.7vh;
  margin-top: 1%;
  margin-left: 5%;
}

.separator {
  appearance: none;
  padding: 0.3% 0.7%;
  outline: none;
  font-weight: bolder;
  border: solid 3px black;
  border-radius: 25%;
}

.convertButton {
  display: inline-block;
  height: 8%;
  width: 19%;
  margin-top: 1.5%;
  margin-left: 5%;
  border-radius: 15px;
  background-color: rgb(49, 140, 231);
  border: solid 1px black;
  font-size: 1.25em;
  color: linen;
  cursor: pointer;
}

.convertButton[disabled] {
  background-color: lightblue;
  color: white;
  cursor: not-allowed;
}

.errorMessage {
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;
  color: #c60c30;
}

.footer {
  height: 10%;
}

.footer .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.copyrightText {
  text-align: center;
}

@media only screen and (min-width: 1900px) {
  .header h2 {
    font-size: 6.5vh;
  }

  .body {
    width: 90%;
    height: 80%;
    margin: auto;
  }

  .fileImport {
    margin-left: 9%;
  }

  .csvContainer,
  .jsonContainer {
    margin-top: 0%;
  }

  .insertText {
    width: 65%;
  }

  .textContainer {
    width: 65%;
    height: 90%;
    border: solid 2px black;
    border-radius: 70px;
    padding: 20px;
  }

  .separatorContainer {
    margin-top: 0.5%;
    margin-left: 9%;
  }

  .separator {
    padding: 0.3% 0.5%;
  }

  .convertButton {
    height: 7%;
    width: 11%;
    margin-top: 1%;
    margin-left: 9%;
  }

  .error-message {
    margin-left: 9%;
  }

  .footer {
    height: 5%;
  }
}
